<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Department of loan" parallel ="tests" thread-count="2">   

	<listeners>
		<listener class-name="tests.listeners" />
	</listeners>

	<parameter name="URL" value="https://www.barclays.co.uk/" />

	<test name="Personal loan">
		<classes>
			<class name="tests.Day5" />
			<class name="tests.Day4" />
			<class name="tests.Day3" />
			<class name="tests.Day2" />

			<class name="tests.Day1">

				<methods>

					<exclude name="HomeLoanWebSignIn" />

				</methods>

			</class>

		</classes>
	</test>

	<test name="Family loan">
		<classes>

			<class name="tests.Day6">

				<methods>

					<exclude name="CarLoanAppleSignIn" />

				</methods>

			</class>

		</classes>
	</test>
</suite> 